<style>
    .toolbar {
        margin-bottom: 15px;
        margin-left: -10px;
    }

    .space {
        flex: 1 1 auto;
    }
    
    .icon {
        margin-right: 5px;
    }
</style>

<mat-toolbar class="mat-elevation-z8 toolbar" color="primary">
    <span>Angular Blog</span>
    <span class="space"></span>
    <mat-form-field>
        <mat-icon class="icon">search</mat-icon>
        <input matInput type="text" id="search" name="search" autocomplete="off">
    </mat-form-field>
</mat-toolbar>