<style>
    .bloglist {
        flex: auto;
    }

    .blog {
        margin: 10px;
        max-width: 1200px;
    }

    .button {
        float: right;
        margin: 15px;
    }
    .icon{
        margin-right: 6px;
    }
</style>

<div class="bloglist">
    <mat-card class="blog" [@fadeInOut]>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.date}} by {{post.author}}</mat-card-subtitle>
        <mat-card-content>{{post.body}}</mat-card-content>
    </mat-card>

    <a routerLink=""><button class="button" mat-raised-button color="warn"><mat-icon class="icon">keyboard_backspace</mat-icon>Back</button></a>
</div>