<style>
    a {
        color: inherit;
    }

    .bloglist {
        flex: auto;
    }

    .blog {
        margin: 10px auto 10px auto;
        max-width: 1000px;
    }

    .add {
        margin: auto 30px 100px auto;
    }

    .button {
        float: right;
    }

    .center {
        text-align: center;
    }

    .icon {
        margin-right: 6px;
    }

    .filters {
        margin: auto 15px auto auto;
    }

    .select {
        margin: auto 10px auto auto;
    }
</style>
<div>
    <section class="mat-typography bloglist">
        <div align="right" class="filters">
            <mat-form-field floatLabel="always" class="select">
                <mat-label>Sort By:</mat-label>
                <mat-select [(value)]="sort">
                    <mat-option value="option1">Title: A-Z</mat-option>
                    <mat-option value="option2">Date</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field floatLabel="always" class="select">
                <mat-label>Order By:</mat-label>
                <mat-select [(value)]="order">
                    <mat-option value="option1">Ascending</mat-option>
                    <mat-option value="option2">Descending</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button color="primary" (click)="filterPosts()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <h1 class="center">Posts</h1>
        <div class="add">
            <a routerLink="/new"><button mat-fab color="primary" class="button">
                    <mat-icon class="icon">add</mat-icon>
                </button></a>
        </div>
        <div *ngIf="posts.length > 0">
            <div *ngFor="let post of posts">

                <mat-card class="blog" [@fadeInOut]>
                    <a [routerLink]="['post', post.id]">
                        <mat-card-title>{{post.title}}</mat-card-title>
                    </a>
                    <mat-card-subtitle>{{post.date.toLocaleString()}} by {{post.author}}</mat-card-subtitle>
                    <mat-card-content>{{post.body}}</mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-raised-button color="warn" (click)="openDialog(post.id, post.title)">
                            <mat-icon class="icon">delete</mat-icon>DELETE
                        </button>
                        <button mat-raised-button color="primary" (click)="editPost(post.id)">
                            <mat-icon class="icon">edit</mat-icon>EDIT
                        </button>
                    </mat-card-actions>
                </mat-card>

            </div>
            <mat-paginator [length]="this.postService.posts.length" [pageSize]="this.postService.pageSize"
                (page)="onPageEvent($event)" [pageSizeOptions]="this.postService.pageSizeOptions"
                [pageIndex]="this.postService.pageNumber-1">

            </mat-paginator>
        </div>
        <div *ngIf="posts.length == 0">
            <h3>No posts found.</h3>
        </div>
    </section>
</div>